body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    background-color: #1E1E1E;
}

/* Navigation Bar   */
header.navigation {
    background-color: #1E1E1E;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 25px;
}

.bookNow {
    text-decoration: none;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: #CE2020;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.phone-icon-button img {
    width: 45px;
    height: 45px;
    /* button slightly above by 7px, how to fix??*/

}

.logo img {
    max-height: 80px;
}

/*Hero image section*/
.hero-container {
    position: relative;
    height: 700px;
    background-image: url('../images/heroImg.png');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
}

.hero-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.heroTop {
    margin: 0;
    padding-bottom: 150px;
}
.heroMiddle p {
    margin: 0;
    padding-bottom: 20px;
    font-size: 20px;
}

.heroMiddle h2 {
    color: #CE2020;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 60px;
    margin: 0;

}

.hero-text h1 {
    font-size: 2em;
    margin: 0;
}

.hero-text p {
    font-size: 1.2em;
}

.hero-button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
}

.heroImgLocations {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 50px;
}
/*Feel the Rush*/
.videoContainer h2 {
    text-align: center;
    color: white;
}

.videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Our Rooms*/
.ourRooms {
    text-align: center;
    color: white;
    background-color: #151515;
}

/*Functions*/
.functions {
    text-align: center;
    color: white;
}

.functionImgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.functionImgs img {
    padding: 20px;
    padding-bottom: 70px;
}

/*Gallery*/
.gallery {
    text-align: center;
    color: white;
}

.galleryImgs img {
    padding: 20px;
}

/*Ready To Escape?*/
.readyToEscape {
    text-align: center;
    color: white;
}

.readyToEscape h3 {
    color: white;
    padding-bottom: 10px;
}
.bookNow2 {
    text-decoration: none;
    padding: 13px 30px;
    border: none;
    border-radius: 30px;
    background-color: #CE2020;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.acknowledgement {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    color: #B0B0B0;
}



/*footer*/
.footer {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.locations {
    color: white;
    margin-left: 10px;
}

.locations h2 {
    margin: 0;
    padding-top: 3px;
    padding-bottom: 15px;
}

.locationButton {
    margin-right: 10px;
    padding: 13px 30px;
    border: none;
    border-radius: 30px;
    background-color: #CE2020;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.social {
    padding: 10px;
    display: inline-block;
    width: 250px;
    text-align: right;
}

.footerText {
    color: white;
    font-size: 12px;
}