body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    background-color: #1E1E1E;
}

p {
    padding: 0;
    margin: 0;
}

/* Navigation Bar   */
header.navigation {
    background-color: #1E1E1E;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    justify-content: center;
    width: 100%;

}

nav a {
    display: block;
    color:white;
    text-decoration: none;
}

nav ul li {
    color: white;
    list-style: none;
    transition: 0.5s;
}

nav > ul > li > a {
    padding: 15px 25px;
}

nav ul > li.rooms > a:after {
    position: relative;
    float: right;
    content: '';
    margin-left: 10px;
    margin-top: 8px;
}

nav ul.menuArea {
    padding: 40px 40px 0 40px;
    background:#1E1E1E;
    text-align: left;
    border-top: 5px solid white;
    z-index: 1;
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    top: -9999px;
    left: 0;

}

nav ul li:hover ul.menuArea {
    top: 100%;
}

nav ul.menuArea ul {
    width: 5%;
    margin-bottom: 40px;
    color: red;
}

nav ul.menuArea ul li {
    display: block;
}

nav ul.menuArea ul li a{
    margin-top: 10px;
    color: white;
    text-transform: none;
}

nav ul.menuArea ul li a:hover {
    
}




nav li:hover {
    color:#CE2020;
    cursor: pointer;
}

nav li {
    margin-right: 25px;
}

.bookNow {
    text-decoration: none;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: #CE2020;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.phone-icon-button img {
    width: 45px;
    height: 45px;
    /* button slightly above by 7px, how to fix??*/

}

.logo img {
    max-height: 80px;
}

/*Hero image section*/
.hero-container {
    position: relative;
    height: 700px;
    background-image: url('../images/heroImg.png');
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
}

.hero-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.heroTop {
    margin: 0;
    padding-bottom: 150px;
}
.heroMiddle p {
    margin: 0;
    padding-bottom: 20px;
    font-size: 20px;
}

.heroMiddle h2 {
    color: #CE2020;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 60px;
    margin: 0;

}

.hero-text h1 {
    font-size: 2em;
    margin: 0;
}

.hero-text p {
    font-size: 1.2em;
}

.hero-button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
}

.heroImgLocations {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 50px;
}
/*Feel the Rush*/
.videoContainer h2 {
    text-align: center;
    color: white;
}

.videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Our Rooms*/
.ourRooms {
    text-align: center;
    color: white;
    background-color: #151515;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.carouselOurRooms {
    display: flex;
    flex-direction: row;
    padding: 0 10vw;
    overflow-x: auto;
    scroll-behavior: smooth;

}
/* 
.cardContainer {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
} */

.carouselOurRooms::webkit-scrollbar {
    display: none;
}

.roomCard {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
    background-color: #656565;
    padding: 20px;
    border-radius: 20px;

}

.roomPoster {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.roomImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.label {
    position: absolute;
    background: #CE2020;
    padding: 5px;
    border-radius: 5px;
    color: white;
    right: 10px;
    top: 10px;
}

.cardButton {
    margin: auto;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: rgb(0 0 0 / 0%);
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    border-style:solid;
    display: flex;
    justify-content: center;
    
}

.cardButton img {
    width: 22px;
    height: 22px;
    padding-right: 10px;
    text-align: center;
}

.cardInfo {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}

/*left right buttons*/
.leftButton, .rightButton {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 10vw;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;

}

.leftButton {
    left: 0;
    
}

.rightButton {
    right: 0;
}

.leftButton img, .rightButton img {
    opacity: 0.6;
}

.leftButton:hover img, .rightButton:hover img {
    opacity: 1;
}



























/*Functions*/
.functions {
    text-align: center;
    color: white;
}

.functionImgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.functionImgs img {
    padding: 20px;
    padding-bottom: 70px;
}

/*Gallery*/
.gallery {
    text-align: center;
    color: white;
}

.galleryImgs img {
    padding: 20px;
}

/*Ready To Escape?*/
.readyToEscape {
    text-align: center;
    color: white;
}

.readyToEscape h3 {
    color: white;
    padding-bottom: 10px;
}
.bookNow2 {
    text-decoration: none;
    padding: 13px 30px;
    border: none;
    border-radius: 30px;
    background-color: #CE2020;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.acknowledgement {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    color: #B0B0B0;
}



/*footer*/
.footer {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.locations {
    color: white;
    margin-left: 10px;
}

.locations h2 {
    margin: 0;
    padding-top: 3px;
    padding-bottom: 15px;
}

.locationButton {
    margin-right: 10px;
    padding: 13px 30px;
    border: none;
    border-radius: 30px;
    background-color: #CE2020;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.social {
    padding: 10px;
    display: inline-block;
    width: 250px;
    text-align: right;
}

.footerText {
    color: white;
    font-size: 12px;
}